* { 
	box-sizing: border-box;
}
.content{
    min-height: 600px;
    margin: 0 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222;
}
#the_knob {
    padding: 3pt;
    margin: 2pt;
    position: relative;
    top: -360px;
}

.circle {
    width: 400px;
    height: 400px;
}