* { 
	box-sizing: border-box;
}
body{
    margin: 0;
}
.content{
    min-height: 600px;
    min-width: 400px;
    margin: 0 25%;
    padding: 5pt;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222;
    color: white;
}
#the_knob {
    padding: 3pt;
    margin: 2pt;
    position: relative;
    top: -360px;
}

.circle {
    width: 400px;
    height: 400px;
}

.text{
    margin-left: 10%;
    align-self: flex-start;
}
#display{
    margin-left: 10%;
    align-self: flex-start;
}